In [1]:
!pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl.metadata (327 bytes)
Requirement already satisfied: scikit-surprise in c:\users\hp\anaconda3\envs\recsys\lib\site-packages (from surprise) (1.1.4)
Requirement already satisfied: joblib>=1.2.0 in c:\users\hp\anaconda3\envs\recsys\lib\site-packages (from scikit-surprise->surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\hp\anaconda3\envs\recsys\lib\site-packages (from scikit-surprise->surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\hp\anaconda3\envs\recsys\lib\site-packages (from scikit-surprise->surprise) (1.15.2)
Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Installing collected packages: surprise
Successfully installed surprise-0.1

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split, cross_validate
from surprise import accuracy
import requests
import zipfile
import io
import os

In [11]:
def download_and_extract_dataset():
    if not os.path.exists('ml-100k'):
        print("Downloading MovieLens 100k dataset...")
        url = "https://files.grouplens.org/datasets/movielens/ml-100k.zip"
        r = requests.get(url)
        z = zipfile.ZipFile(io.BytesIO(r.content))
        z.extractall()
        print("Movielens 100k dataset downloaded and extracted successfully.")
    else:
        print("The dataset already exists. Download skipped.")

In [13]:
download_and_extract_dataset()

Downloading MovieLens 100k dataset...
Movielens 100k dataset downloaded and extracted successfully.

In [17]:
ratings_df = pd.read_csv("ml-100k/u.data", sep="\t", names = ['user_id', 'item_id', 'rating', 'timestamp'])

print(f"Dataset shape: {ratings_df.shape}")
print(f"Number of unique users: {ratings_df['user_id'].nunique()}")
print(f"Number of unique movies: {ratings_df['item_id'].nunique()}")
print(f"Range of ratings: {ratings_df['rating'].min()} to {ratings_df['rating'].max()}")

Dataset shape: (100000, 4)
Number of unique users: 943
Number of unique movies: 1682
Range of ratings: 1 to 5

In [19]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(ratings_df[['user_id', 'item_id', 'rating']], reader)

train, test = train_test_split(data, test_size = 0.2, random_state = 42)

In [31]:
model = SVD(n_factors = 20, lr_all = 0.01, reg_all = 0.01, n_epochs = 20, random_state = 42)
model.fit(train)

predictions = model.test(test)
rmse = accuracy.rmse(predictions)
mae = accuracy.mae(predictions)

RMSE: 0.9576
MAE:  0.7455

In [41]:
cv_results = cross_validate(model, data, measures = ['RMSE', 'MAE'], cv = 5, verbose = True)

print(f"Average RMSE: {cv_results['test_rmse'].mean(): .4f}")
print(f"Average MAE: {cv_results['test_mae'].mean(): .4f}")

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9574  0.9587  0.9601  0.9560  0.9649  0.9594  0.0030
MAE (testset)     0.7471  0.7483  0.7488  0.7488  0.7532  0.7492  0.0021
Fit time          0.59    0.48    0.53    0.53    0.56    0.54    0.04
Test time         0.19    0.10    0.07    0.16    0.10    0.13    0.04
Average RMSE:  0.9594
Average MAE:  0.7492

In [43]:
model = SVD(n_factors = 50, lr_all = 0.005, reg_all = 0.05, n_epochs = 50, random_state = 42)
model.fit(train)

predictions = model.test(test)
rmse = accuracy.rmse(predictions)
mae = accuracy.mae(predictions)

RMSE: 0.9242
MAE:  0.7264

In [45]:
cv_results = cross_validate(model, data, measures = ['RMSE', 'MAE'], cv = 5, verbose = True)

print(f"Average RMSE: {cv_results['test_rmse'].mean(): .4f}")
print(f"Average MAE: {cv_results['test_mae'].mean(): .4f}")

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9265  0.9238  0.9223  0.9249  0.9231  0.9241  0.0014
MAE (testset)     0.7276  0.7247  0.7255  0.7235  0.7272  0.7257  0.0015
Fit time          1.57    1.77    1.65    1.65    1.98    1.72    0.14
Test time         0.14    0.11    0.12    0.17    0.10    0.13    0.03
Average RMSE:  0.9241
Average MAE:  0.7257

In [47]:
from surprise import SVDpp

model = SVDpp(n_epochs = 30, random_state = 42)
results = cross_validate(model, data, measures = ["RMSE", "MAE"], cv = 5, verbose = True)

Evaluating RMSE, MAE of algorithm SVDpp on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9331  0.9410  0.9337  0.9361  0.9346  0.9357  0.0028
MAE (testset)     0.7312  0.7367  0.7257  0.7303  0.7311  0.7310  0.0035
Fit time          25.17   24.38   23.43   31.92   25.71   26.12   3.00
Test time         3.13    3.15    3.07    3.30    3.08    3.15    0.08

In [49]:
from surprise.model_selection import GridSearchCV

param_grid = {
    'n_factors': [20, 50],
    'n_epochs': [20, 30],
    'lr_all': [0.005, 0.01],
    'reg_all': [0.02, 0.05]
}

gs = GridSearchCV(SVDpp, param_grid, measures = ['rmse', 'mae'], cv=3)
gs.fit(data)

best_model = gs.best_estimator['rmse']
best_model.fit(train)

predictions = best_model.test(test)
rmse = accuracy.rmse(predictions)
mae = accuracy.mae(predictions)

RMSE: 0.9147
MAE:  0.7196

In [51]:
def get_movie_names():
    movies_df = pd.read_csv('ml-100k/u.item', sep = '|', encoding = 'latin-1', header = None, usecols = [0, 1], names = ['item_id', 'title'])
    return movies_df

movies_df = get_movie_names()

In [83]:
def recommend_movies(user_id, n = 10):
    all_movies = movies_df['item_id'].unique()

    rated_movies = ratings_df[ratings_df['user_id'] == user_id]['item_id'].values

    unrated_movies = np.setdiff1d(all_movies, rated_movies)

    predictions = []
    for item_id in unrated_movies:
        predicted_rating = best_model.predict(user_id, item_id).est
        predictions.append((item_id, predicted_rating))
    # print(predictions)
    predictions.sort(key= lambda x: x[1], reverse = True)

    top_n_recommendations = predictions[:n]

    recommendations = pd.DataFrame(top_n_recommendations, columns = ['item_id', 'predicted_rating'])
    recommendations = recommendations.merge(movies_df, on='item_id')

    return recommendations

In [109]:
user_id = 42
recommendations = recommend_movies(user_id, n = 10)

print(f"Top 10 recommended movies for user {user_id}")
print(recommendations[['title', 'predicted_rating']])

Top 10 recommended movies for user 42
                                   title  predicted_rating
0                      Braveheart (1995)          4.948321
1                         Titanic (1997)          4.681675
2                      Casablanca (1942)          4.474301
3          Affair to Remember, An (1957)          4.354818
4             Wrong Trousers, The (1993)          4.353312
5                   Air Force One (1997)          4.305944
6              African Queen, The (1951)          4.305092
7  Day the Earth Stood Still, The (1951)          4.287849
8                    Pretty Woman (1990)          4.283626
9                  Rainmaker, The (1997)          4.279505

In [89]:
movies_df

      item_id                                      title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [107]:
rated_movies = ratings_df[ratings_df['user_id'] == 42]['item_id'].values
for items in rated_movies:
    print(movies_df[movies_df['item_id'] == items].title)

422    E.T. the Extra-Terrestrial (1982)
Name: title, dtype: object
402    Batman (1989)
Name: title, dtype: object
95    Terminator 2: Judgment Day (1991)
Name: title, dtype: object
793    It Could Happen to You (1994)
Name: title, dtype: object
545    Broken Arrow (1996)
Name: title, dtype: object
273    Sabrina (1995)
Name: title, dtype: object
587    Beauty and the Beast (1991)
Name: title, dtype: object
43    Dolores Claiborne (1994)
Name: title, dtype: object
1027    Grumpier Old Men (1995)
Name: title, dtype: object
624    Sword in the Stone, The (1963)
Name: title, dtype: object
97    Silence of the Lambs, The (1991)
Name: title, dtype: object
952    Unstrung Heroes (1995)
Name: title, dtype: object
684    Executive Decision (1996)
Name: title, dtype: object
175    Aliens (1986)
Name: title, dtype: object
194    Terminator, The (1984)
Name: title, dtype: object
184    Psycho (1960)
Name: title, dtype: object
68    Forrest Gump (1994)
Name: title, dtype: object
683    In the Line of Fire (1993)
Name: title, dtype: object
602    Rear Window (1954)
Name: title, dtype: object
1040    Forget Paris (1995)
Name: title, dtype: object
120    Independence Day (ID4) (1996)
Name: title, dtype: object
605    All About Eve (1950)
Name: title, dtype: object
455    Beverly Hills Ninja (1997)
Name: title, dtype: object
505    Rebel Without a Cause (1955)
Name: title, dtype: object
142    Sound of Music, The (1965)
Name: title, dtype: object
745    Real Genius (1985)
Name: title, dtype: object
47    Hoop Dreams (1994)
Name: title, dtype: object
998    Clean Slate (1994)
Name: title, dtype: object
101    Aristocats, The (1970)
Name: title, dtype: object
209    Indiana Jones and the Last Crusade (1989)
Name: title, dtype: object
784    Only You (1994)
Name: title, dtype: object
404    Mission: Impossible (1996)
Name: title, dtype: object
844    That Thing You Do! (1996)
Name: title, dtype: object
780    French Kiss (1995)
Name: title, dtype: object
379    Star Trek: Generations (1994)
Name: title, dtype: object
69    Four Weddings and a Funeral (1994)
Name: title, dtype: object
356    One Flew Over the Cuckoo's Nest (1975)
Name: title, dtype: object
1042    Rent-a-Kid (1995)
Name: title, dtype: object
203    Back to the Future (1985)
Name: title, dtype: object
403    Pinocchio (1940)
Name: title, dtype: object
520    Deer Hunter, The (1978)
Name: title, dtype: object
130    Breakfast at Tiffany's (1961)
Name: title, dtype: object
141    Bedknobs and Broomsticks (1971)
Name: title, dtype: object
280    River Wild, The (1994)
Name: title, dtype: object
450    Grease (1978)
Name: title, dtype: object
24    Birdcage, The (1996)
Name: title, dtype: object
691    American President, The (1995)
Name: title, dtype: object
98    Snow White and the Seven Dwarfs (1937)
Name: title, dtype: object
1050    Associate, The (1996)
Name: title, dtype: object
221    Star Trek: First Contact (1996)
Name: title, dtype: object
924    Unforgettable (1996)
Name: title, dtype: object
567    Speed (1994)
Name: title, dtype: object
210    M*A*S*H (1970)
Name: title, dtype: object
11    Usual Suspects, The (1995)
Name: title, dtype: object
81    Jurassic Park (1993)
Name: title, dtype: object
87    Sleepless in Seattle (1993)
Name: title, dtype: object
27    Apollo 13 (1995)
Name: title, dtype: object
264    Hunt for Red October, The (1990)
Name: title, dtype: object
938    Murder in the First (1995)
Name: title, dtype: object
417    Cinderella (1950)
Name: title, dtype: object
366    Clueless (1995)
Name: title, dtype: object
1043    Paper, The (1994)
Name: title, dtype: object
1039    Two if by Sea (1996)
Name: title, dtype: object
735    Shadowlands (1993)
Name: title, dtype: object
182    Alien (1979)
Name: title, dtype: object
408    Jack (1996)
Name: title, dtype: object
78    Fugitive, The (1993)
Name: title, dtype: object
427    Harold and Maude (1971)
Name: title, dtype: object
233    Jaws (1975)
Name: title, dtype: object
279    Up Close and Personal (1996)
Name: title, dtype: object
1044    Fearless (1993)
Name: title, dtype: object
833    Halloween: The Curse of Michael Myers (1995)
Name: title, dtype: object
431    Fantasia (1940)
Name: title, dtype: object
731    Dave (1993)
Name: title, dtype: object
195    Dead Poets Society (1989)
Name: title, dtype: object
171    Empire Strikes Back, The (1980)
Name: title, dtype: object
193    Sting, The (1973)
Name: title, dtype: object
495    It's a Wonderful Life (1946)
Name: title, dtype: object
214    Field of Dreams (1989)
Name: title, dtype: object
741    Ransom (1996)
Name: title, dtype: object
976    Substitute, The (1996)
Name: title, dtype: object
565    Clear and Present Danger (1994)
Name: title, dtype: object
62    Santa Clause, The (1994)
Name: title, dtype: object
117    Twister (1996)
Name: title, dtype: object
71    Mask, The (1994)
Name: title, dtype: object
478    Vertigo (1958)
Name: title, dtype: object
215    When Harry Met Sally... (1989)
Name: title, dtype: object
1048    House Arrest (1996)
Name: title, dtype: object
94    Aladdin (1992)
Name: title, dtype: object
229    Star Trek IV: The Voyage Home (1986)
Name: title, dtype: object
409    Kingpin (1996)
Name: title, dtype: object
412    Tales from the Crypt Presents: Bordello of Blo...
Name: title, dtype: object
76    Firm, The (1993)
Name: title, dtype: object
865    Michael (1996)
Name: title, dtype: object
275    Leaving Las Vegas (1995)
Name: title, dtype: object
0    Toy Story (1995)
Name: title, dtype: object
386    Age of Innocence, The (1993)
Name: title, dtype: object
370    Bridges of Madison County, The (1995)
Name: title, dtype: object
1046    Multiplicity (1996)
Name: title, dtype: object
426    To Kill a Mockingbird (1962)
Name: title, dtype: object
289    Fierce Creatures (1997)
Name: title, dtype: object
14    Mr. Holland's Opus (1995)
Name: title, dtype: object
468    Short Cuts (1993)
Name: title, dtype: object
678    Conan the Barbarian (1981)
Name: title, dtype: object
728    Nell (1994)
Name: title, dtype: object
1041    Just Cause (1995)
Name: title, dtype: object
442    Birds, The (1963)
Name: title, dtype: object
228    Star Trek III: The Search for Spock (1984)
Name: title, dtype: object
172    Princess Bride, The (1987)
Name: title, dtype: object
82    Much Ado About Nothing (1993)
Name: title, dtype: object
384    True Lies (1994)
Name: title, dtype: object
227    Star Trek: The Wrath of Khan (1982)
Name: title, dtype: object
581    Piano, The (1993)
Name: title, dtype: object
53    Outbreak (1995)
Name: title, dtype: object
755    Father of the Bride Part II (1995)
Name: title, dtype: object
42    Disclosure (1994)
Name: title, dtype: object
719    First Knight (1995)
Name: title, dtype: object
933    Preacher's Wife, The (1996)
Name: title, dtype: object
57    Quiz Show (1994)
Name: title, dtype: object
124    Phenomenon (1996)
Name: title, dtype: object
174    Brazil (1985)
Name: title, dtype: object
160    Top Gun (1986)
Name: title, dtype: object
218    Nightmare on Elm Street, A (1984)
Name: title, dtype: object
201    Groundhog Day (1993)
Name: title, dtype: object
470    Courage Under Fire (1996)
Name: title, dtype: object
923    White Squall (1996)
Name: title, dtype: object
236    Jerry Maguire (1996)
Name: title, dtype: object
626    Robin Hood: Prince of Thieves (1991)
Name: title, dtype: object
500    Dumbo (1941)
Name: title, dtype: object
401    Ghost (1990)
Name: title, dtype: object
418    Mary Poppins (1964)
Name: title, dtype: object
282    Emma (1996)
Name: title, dtype: object
65    While You Were Sleeping (1995)
Name: title, dtype: object
202    Unforgiven (1992)
Name: title, dtype: object
134    2001: A Space Odyssey (1968)
Name: title, dtype: object
461    Like Water For Chocolate (Como agua para choco...
Name: title, dtype: object
63    Shawshank Redemption, The (1994)
Name: title, dtype: object
37    Net, The (1995)
Name: title, dtype: object
467    Rudy (1993)
Name: title, dtype: object
925    Down Periscope (1996)
Name: title, dtype: object
238    Sneakers (1992)
Name: title, dtype: object
522    Cool Hand Luke (1967)
Name: title, dtype: object
226    Star Trek VI: The Undiscovered Country (1991)
Name: title, dtype: object
466    Bronx Tale, A (1993)
Name: title, dtype: object
293    Liar Liar (1997)
Name: title, dtype: object
283    Tin Cup (1996)
Name: title, dtype: object
368    Black Sheep (1996)
Name: title, dtype: object
150    Willy Wonka and the Chocolate Factory (1971)
Name: title, dtype: object
317    Schindler's List (1993)
Name: title, dtype: object
49    Star Wars (1977)
Name: title, dtype: object
272    Heat (1995)
Name: title, dtype: object
490    Adventures of Robin Hood, The (1938)
Name: title, dtype: object
659    Fried Green Tomatoes (1991)
Name: title, dtype: object
1045    Malice (1993)
Name: title, dtype: object
96    Dances with Wolves (1990)
Name: title, dtype: object
558    Interview with the Vampire (1994)
Name: title, dtype: object
85    Remains of the Day, The (1993)
Name: title, dtype: object
70    Lion King, The (1994)
Name: title, dtype: object
940    With Honors (1994)
Name: title, dtype: object
654    Stand by Me (1986)
Name: title, dtype: object
968    Winnie the Pooh and the Blustery Day (1968)
Name: title, dtype: object
131    Wizard of Oz, The (1939)
Name: title, dtype: object
594    Fan, The (1996)
Name: title, dtype: object
1047    She's the One (1996)
Name: title, dtype: object
825    Phantom, The (1996)
Name: title, dtype: object
110    Truth About Cats & Dogs, The (1996)
Name: title, dtype: object
1049    Ghost and Mrs. Muir, The (1947)
Name: title, dtype: object
140    20,000 Leagues Under the Sea (1954)
Name: title, dtype: object
180    Return of the Jedi (1983)
Name: title, dtype: object
173    Raiders of the Lost Ark (1981)
Name: title, dtype: object
72    Maverick (1994)
Name: title, dtype: object
167    Monty Python and the Holy Grail (1974)
Name: title, dtype: object
1    GoldenEye (1995)
Name: title, dtype: object
657    Pump Up the Volume (1990)
Name: title, dtype: object
754    Jumanji (1995)
Name: title, dtype: object
281    Time to Kill, A (1996)
Name: title, dtype: object
135    Mr. Smith Goes to Washington (1939)
Name: title, dtype: object
734    Philadelphia (1993)
Name: title, dtype: object
410    Nutty Professor, The (1996)
Name: title, dtype: object
432    Heathers (1989)
Name: title, dtype: object
86    Searching for Bobby Fischer (1993)
Name: title, dtype: object
590    Primal Fear (1996)
Name: title, dtype: object
102    All Dogs Go to Heaven 2 (1996)
Name: title, dtype: object